<h1><%= @trip.name %> page</h1>

<% @trip.trails.each do |trail| %>
  trail length: <%= trail.length %>
  trail name: <%= trail.name %>
  trail address: <%= trail.address %> <br> 
<% end %>

total hiking distance: <%= @trip.total_hiking_distance %>
